/* GENERAL */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #1f1f1f;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: #111;
}

.center {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-weight: 700;
  font-size: 22px;
}

.dot {
  color: red;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: red;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 90px;
}

.hero-text h1 {
  font-size: 50px;
}

.highlight {
  color: red;
}

.subtitle {
  margin-top: -10px;
  font-size: 20px;
  color: #444;
}

.hero-img img {
  width: 340px;
  border-radius: 15px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
}

.btn {
  background: red;
  padding: 12px 18px;
  color: white;
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 18px;
  transition: 0.3s;
}

.btn:hover {
  background: #c40000;
}

/* SECTIONS */
.section {
  padding: 60px 80px;
}

/* SKILLS */
.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skills-box span {
  background: #f3f3f3;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid #ddd;
}

/* PROJECTS */
.project-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.project-card {
  width: 280px;
  padding: 20px;
  background: #fafafa;
  border-radius: 12px;
  border: 1px solid #eaeaea;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: red;
}

/* CONTACT */
.contact-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.contact-links a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.contact-form {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-form button {
  background: red;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  background: #f7f7f7;
  margin-top: 40px;
}